
.container {
  width: 950px;
}

#graphic {
  padding-top: 60px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('loading.gif') 50% 50% no-repeat rgb(249,249,249);
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(176, 196, 222, 0.5);
  color: #fff;
  border-radius: 4px;
}





#sections {
  position: relative;
  display: inline-block;
  width: 240px;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
  text-align: justify;     

}

.step {
  margin-bottom: 200px;
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 16px;
  line-height: 23px;
  color: #1c1c1c; /*767678;*/
}

#sections .title {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

.bar:hover {
  fill: brown;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
  /* height: 600px; */
  /* width: 600px; */
  /*background-color: #ddd; */
}

#vis .title {
  font-size:120px;
  text-anchor: middle;
}

#vis .sub-title {
  font-size:70px;
  text-anchor: middle;
}

#vis .sub-sub-title {
  font-size:50px;
  text-anchor: middle;
}

#vis .sub-name-title {
  font-size:30px;
  text-anchor: middle;
}

#vis .legend {
  font-size:12px;
  font: Arial;    

}

#vis .ylabel {
  font-size:16px;
  text-anchor: middle;
  font: Arial;    

}
#vis .xlabel {
  font-size:16px;
  text-anchor: middle;
  font: Arial;    
}
.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #008080;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;

}

.land {
  fill: #ccc;
}


.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: #ccc;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}



